<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Тут Автор</strong>
    <small>21.09.2021</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut deleniti expedita odit porro provident
      quisquam, quod totam. Cupiditate dolorem obcaecati porro saepe voluptatibus! Ab aperiam culpa debitis delectus
      dolor, doloribus eius error eveniet ex exercitationem incidunt laboriosam laudantium maxime minus necessitatibus
      non, omnis porro possimus quaerat qui sapiente tempore.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut deleniti expedita odit porro provident
      quisquam, quod totam. Cupiditate dolorem obcaecati porro saepe voluptatibus! Ab aperiam culpa debitis delectus
      dolor, doloribus eius error eveniet ex exercitationem incidunt laboriosam laudantium maxime minus necessitatibus
      non, omnis porro possimus quaerat qui sapiente tempore.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut deleniti expedita odit porro provident
      quisquam, quod totam. Cupiditate dolorem obcaecati porro saepe voluptatibus! Ab aperiam culpa debitis delectus
      dolor, doloribus eius error eveniet ex exercitationem incidunt laboriosam laudantium maxime minus necessitatibus
      non, omnis porro possimus quaerat qui sapiente tempore.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut deleniti expedita odit porro provident
      quisquam, quod totam. Cupiditate dolorem obcaecati porro saepe voluptatibus! Ab aperiam culpa debitis delectus
      dolor, doloribus eius error eveniet ex exercitationem incidunt laboriosam laudantium maxime minus necessitatibus
      non, omnis porro possimus quaerat qui sapiente tempore.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut deleniti expedita odit porro provident
      quisquam, quod totam. Cupiditate dolorem obcaecati porro saepe voluptatibus! Ab aperiam culpa debitis delectus
      dolor, doloribus eius error eveniet ex exercitationem incidunt laboriosam laudantium maxime minus necessitatibus
      non, omnis porro possimus quaerat qui sapiente tempore.</p>
  </div>
</div>
